h1{
  color: #FFF;
  font-family: Oswald;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
header{
  width: 80%;
  max-width: 980px;
  margin: auto;
}

main{
  display: flex;
  gap: 55px;
  margin: 85px 0;
}
app-banner{
  display: flex;
  color: #fff;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

@media (width < 800px){
  main{
    flex-direction: column;
  }
  app-banner{
    flex-direction: column;
  }
}