article{
  font-family: Oswald;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
img{
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
}
.titulo a{
  text-decoration: none;
  color: var(--Schemes-On-Error, #FFF);
  font-family: Oswald;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.titulo{
  margin: 5px 0;
}
.etiquetas{
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0;
  margin: 0;
 gap: 12px;
 margin: 5px 0;
}
.etiqueta:nth-child(1){
  color: #9BB848;
  margin: 0;
}
.reloj{
  width: 15px;
  height: 15px;

  margin-right: 10px;
}
.etiqueta:nth-child(2){
  color: #48B8AA;
  margin: 0; 
}
.etiqueta:nth-child(3){
  color: #B84848;
  margin: 0;
}
.descripcion{
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0;
}
.fechas{
  display: flex;
  margin-top: 27px;
  justify-content: space-between;
}
.tiempo{
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
}
.fecha{
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

@media (width < 800px) {
  img{
    height: 280px;
  }
}